<div class="cart">
  <ul>
    <li>
      <div class="me-auto detail">
        <div class="img">
          <fa-icon [icon]="del"></fa-icon>
        </div>
        <div>
          <span>Leathr</span>
          <span class="price">price</span>
        </div>
      </div>
      <div class="qty">2</div>
    </li>
    <li>
      <div class="me-auto detail">
        <div class="img">
          <fa-icon [icon]="del"></fa-icon>
        </div>
        <div>
          <span>Leathr</span>
          <span class="price">price</span>
        </div>
      </div>
      <div class="price">2500.00</div>
    </li>
  </ul>
</div>
<hr />
<!-- // breakup -->
<div>
  <ul class="cart-breakup">
    <li>
      <div class="label me-auto">subtotal</div>
      <div class="fs-6 blk">22.50</div>
    </li>
    <li>
      <div class="label me-auto">discount</div>
      22.50
    </li>
    <li>
      <div class="label me-auto">Delivery Charges</div>
      22.50
    </li>
  </ul>
</div>
<!-- // breakup end -->

<div class="py-3">
  <ul class="cart-breakup">
    <li class="gap-3">
      <div class="label me-auto">grand total</div>
      <div class="fs-5 blk">$2,522.50</div>
    </li>
  </ul>
</div>
<div class="col-12 text-center py-2">
  <button class="btn btn-dark rounded-pill px-5">Checkout</button>
</div>
